body
{
    background-color: #1F6521;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14 px;
}
.header
{
    border-radius: 10px 10px 0 0;
}
.header
{
    background-color: #D6CE15;
    height:220px; 
    margin: 0px 50px 0px 50px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    display: grid;
    grid-template-areas:
    "headerphoto imeOPGa";
    align-items: center;
    
    
}
.header img
{
    height: 220px;
    border-radius: 10px 0 0 0;
}
#imeOPGa
{
    font-size: 50px;
    font-weight: bold;
}

.navtraka 
  {
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: #333;
    overflow: hidden;
    margin-left:50px;
    margin-right:50px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
  
  .navtraka a 
  {
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 18px;
  }
.navtraka a:hover 
  {
    background-color: #111;
    color: white;
    height:20px;

  }
  
.navtraka a.active 
  {
    background-color: #04AA6D;
    color: white;
    height:20px;
  }


  main{
      margin-left: 50px;
      margin-right: 50px;
      background-color:#40651f;
      
  }

 




#adresa1{
    float: left;
    
}
#adresa2{
    float: right;
}








 